{% extends "header.html" %}
{% block body %}

<!-- Keyboard handling script -->
<script>
	// Add Ctrl O?
	$(document).on('keydown', function (e) {
		if (e.ctrlKey && e.which === 83) { // Check for the Ctrl key being pressed, and if the key = [S] (83)
			hideValue();
			e.preventDefault();
			return false;
		}
	});
</script>

<!-- Progress Bar -->
<!-- Classes for colors: bg-success bg-warning bg-danger bg-starting bg-stopped -->
<!-- Change width and aria-valuenow -->
<!-- Animate while running -->
<div class="runProgress progress fixed-bottom">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" id="runProgressBar"
		role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div id="contentContainer" class="container-fluid">

	<div id="pageTitle" class="pageTitle">
		<h2>Process Editor</h2>
	</div>

	
	<div class="row h-100">

		<!-- START LEFT COLUMN -->
		<div id="leftCol" class="col">
			<div class="box shadows">
				<div class="container">

					<!-- Add Icons -->
					<div id="editor_processSaveLoadDelete">
						<label>Save Process As: </label>
						<input class="mesInput" form="editor_formContent" type="text" name="editor_processSaveFilename"
							id="editor_processSaveFilename" value="{{ editor_retainedFilename }}"></input>

						<!-- <input onclick="hideValue()" type="submit" value="Save Process (Ctrl + s)" name="saveProcess"
							id="saveProcessButton"></input> -->

						<button onclick="hideValue()"><i class="fas fa-save" id="saveProcessButton"></i>&nbsp;Save Process (Ctrl + s)</button>
						<button class="btn-danger ml-auto" onclick="deleteFile()"><i class="fas fa-trash-alt"></i>&nbsp;Delete Process</button>


						<!-- Hide Value is used to hide the contents of the editor in a form that can actually be retrieved by Flask -->

						<form method="post">
							<label id="selectionLabel" for="selection">Load or Delete a Process: </label>
							<select id="processList" class="mesSelect" name="editor_selection" onchange="loadFile()">
								<option value="" selected disabled hidden>Select a Process</option>
								{% for process in optionList %}
								{% if editor_retainedFilename == process %}
								<option value="{{ process }}" selected>{{ process }}</option>
								{% else %}
								<option value="{{ process }}">{{ process }}</option>
								{% endif %}
								{% endfor %}
							</select>
							<input class="d-none" type="submit" formaction="/editor/loadFile" value="Load Process" id="fileLoad"></input>
							<input class="d-none" type="submit" formaction="/editor/deleteFile" value="Delete Process"
								id="fileDelete"></input>
							<pre style="display:inline-block" id="saveLockout"></pre>

							<script>
								function loadFile(){document.getElementById("fileLoad").click(); }
								function deleteFile(){document.getElementById("fileDelete").click(); }
							</script>
							
						</form>
					</div>

					<!-- ---------- EDITOR ---------- -->
					<form name="editor_formContent" id="editor_formContent" action="/editor/saveFile" method="post">
						<input type="hidden" id="editor_hiddenContent" name="editor_hiddenContent" value=""></input>
						<div class="editor" id="editor" name="editor">{{ editor_content }}</div>
					</form>

					<!-- ---------- DOWNLOAD PROCESS FILE ---------- -->
					<div id="editor_processExport" class="text-right">
						Download Process File:
						<input class="mesInput" id="backupFilename" value="{{ file }}"></input>
						<button style="margin-right:10px;" class="button" onclick="backupSave()">Export to Text
							File</button>
					</div>

				</div> <!-- END CONTAINER -->
			</div> <!-- END BOX -->
		</div>
		<!-- END COLUMN LEFT -->

		<!-- START RIGHT COLUMN -->
		<div id="rightCol" class="col-right-45 col-lg-auto">
			<!-- ---------- README ---------- -->
			<div class="box shadows">
				<div class="container">
					<div class="docs" id="docs">
						<h2>README: MES Process Editor</h2>
						<p>
							Use this webpage to create processes for the FMC.
							A process is comprised of many smaller "tasks."
							In the FMC, tasks include:
						</p>
						<ul>
							<li>Semaphore Commands (Seize and Release)</li>
							<li>Robot Actions (UR Dashboard Commands)</li>
							<li>CNC Actions (GCode)</li>
							<li>Vision Inspection</li>
						</ul>
						<p>Please Take Note: Processes are sensitive to case, spelling, and syntax!</p>
						<hr>
						<h4 style="color:#BF616A">resourceSeize('resourceName','conveyorStation'=None)</h4>
						<pre>Ex. resourceSeize('Rosie')</pre>
						<pre>Ex. resourceSeize('convStn1','agvA')</pre>
						<pre>Ex. resourceSeize('Paprika')</pre>
						<p>The resources in the ADML are shared by
							multiple processes executing simultaneously.
							To prevent conflicts where more than one process tries to access
							the same resource at the same time, use resourceSeize()
							to let a process request access to a specific resource. The
							Resource Handler, shown in real time on the FMC overview page,
							determines if a resource is available. If
							yes, the request is GRANTED. If no, the request is a DENIED
							and the process asks again one second later until the resource
							finally becomes available.</p>
						<p>Practice "Location then Transportation" semaphore commands.
							It is best
							practice to seize the target location of a part or pallet,
							followed by a means of transportation, typically a robot.
							For instance, to move a pallet from a buffer to the conveyor
							belt using UR5 "Rosie," first seize the target location,
							"convStn1" then "Rosie." Reversing the order is possible,
							but the overarching goal is the goal is consistency.
							Inconsistent seize commands
							can cause "semaphore lockups."</p>
						<p>A "semaphore lockup" occurs when opposing processes
							possess the resource the other process needs to continue execution.
							Consider a process called "A"
							that seizes "convStn1" then "Rosie." Also consider a
							process called "B" that seizes "Rosie" then "convStn1."
							When executed together, process "A" would fail to seize "Rosie"
							because it is held by
							process "B". Process B would fail because "convStn1" is held
							by process "A." The MES software is not designed to overcome these conflicts.
							It is the repsonsibility of the programmer to plan their semaphore commands to avoid
							lockups.
						</p>
						<h4 style="color:#B48EAD">resourceRelease('resourceName')</h4>
						<pre>Ex. resourceRelease('Edie')</pre>
						<pre>Ex. resourceSeize('convStn4')</pre>
						<p>resourceRelease is a semaphore command that works in conjunction with resourceSeize.
							When resourceRelease is executed, the Resource Handler grants the release immediately,
							allowing other operations to seize that resource.
							In effect, resourceRelease indicates to the system that a resource is available for use.</p>
						<h4 style="color:#A3BE8C">urDashboard('robotName','robotPath',simulationTime)</h4>
						<pre>Ex. urDashboard(‘Rosie’,’me345_admin/_adminCG-invAToPHome.urp’)</pre>
						<pre>Ex. urDashboard(‘Mary’,’me345_admin/_adminInvAToConveyor.urp’,27)</pre>
						<pre>Ex. urDashboard(‘Edie’,’me345_admin/_adminCG-GFWToInvA.urp’,15)</pre>
						<p>urDashboard connects to the Universal Robots Dashboard server for the specified
							robotResource. It
							loads, then plays the specified URP file. When the URP program finished execution, the BU
							MES
							operation knows to move onto the next task. An additional argument allows the operator to
							enter
							a
							“simulation time” that can be used in Full-Simulation mode to simulate the behavior of the
							Flexible
							Manufacturing Cell.</p>
						<p>To find a complete list of URP programs available on the robot, use the BU MES Robot Wizard
							webpage.
							The webpage uses SFTP to connect to the robot controller and extract a complete list of URP
							files on
							the control.</p>
						<h4 style="color:#EBCB8B">NOW OBSOLETE cncRun('cncName','cncFile',simulationTime=None)</h4>
						<pre>Ex. cncRun(‘Cayenne’,’admin/cordganizerLid.txt’)</pre>
						<pre>Ex. cncRun(‘Paprika’,’admin/cordganizerBodyRedux.txt’,571)</pre>
						<p>This was used before the Robot2CNC was installed and is the original way that the cnc was run 
							from BUMES. 
							cncRun connects to the Hass M-Net web server for the specified cncResource. It loads, then
							plays
							the
							specified text file. When the cnc program finished execution, the BU MES operation knows to
							move
							onto the next task. An additional argument allows the operator to enter a “simulation time”
							that
							can
							be used in Full-Simulation mode to simulate the behavior of the Flexible Manufacturing Cell.
						</p>
						<p>Building a new cnc program for BU MES requires some extra steps. Find those steps as well as
							a
							complete list of cnc programs on the BU MES CNC Wizard webpage. The webpage monitors the
							contents of
							a shared network drive connected to the CNC machines.</p>
						<h4 style="color:#5E81AC">
							visionInspection(‘cameraResource’,’cameraSolutionID’,’outputVariable’,simulationTime=None)
						</h4>
						<pre>visionInspection(‘Inline Inspection’,’7’,’STATUS’)</pre>
						<p>visionInspection connects to the specified Teledyne Dalsa camera, triggers the camera,
							executes a
							solution, and reports the outcome of that solution to a variable BU MES. The way that output
							variable is used is to-be determined.</p>
						<h4 style="color:#D08770">readyForAssembly()</h4>
						<pre>readyForAssembly(‘A’,’B’,’initializeAssembly’)</pre>
						<pre>readyForAssembly(‘A’,’B’,’startAssembly’)</pre>
						<pre>readyForAssembly(‘A’,’B’,’finishAssembly’)</pre>
						<p>readyForAssembly() is a BU MES macro command. All that is required for an operation to signal
							that it
							is ready to be assembled are a series of six resourceSeize and resourceRelease commands.
							Special
							system resources have been created to track the state of each operation as is progresses
							through
							the
							Flexible Manufacturing Cell. To simplify the assembly step and avoid confusion, the six
							semaphore
							commands are reduced to three readyForAssembly commands.</p>
						<h4 style="color:#B48EAD">functionalPrinting()</h4>
						<pre>Ex. functionalPrinting()</pre>
						<p>functionalPrinting() starts functional printing - duh!</p>
						<h4 style="color:#0000ff">dynamicfunctionalPrinting()</h4> <!--Title-->
						<pre>Ex. dynamicfunctionalPrinting("sendtoMill1.json")</pre> <!--Example-->
						<p>dynamicfunctionalPrinting() starts _mesDynamicFunctionalPrintingInit.py and loads "filename.json" schematic</p> <!--Description-->
						<h4 style="color:#0000ff">dynamicMachining()</h4> <!--Title-->
						<pre>Ex. dynamicMachining('10014')</pre> <!--Example-->
						<p>dynamicMachining() starts _mesDynamicMachiningInit.py and loads CNC program number of choice onto Mary's Robot2CNC module</p> <!--Description-->

					</div>
				</div> <!-- END CONTAINER -->
			</div> <!-- END BOX -->
		</div> <!-- END README RIGHT COL-->

	</div> <!-- END ROW -->

</div>
<!-- END MAIN CONTAINER -->

<!-- Ace and Snippets JS -->
<script src="static\ace\src-noconflict\ace.js" type="text/javascript" charset="utf-8"></script>
<script src="static\ace\src-noconflict\ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="static\ace\src-noconflict\snippets\mes.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	function setHeights() {
		var bodyHeight = window.innerHeight;
		var windowWidth = window.innerWidth;
		var headerHeight = $("#mainHeader").outerHeight(true);
		var titleHeight = $("#pageTitle").outerHeight(true);
		var barHeight = 16;
		var desiredHeight = bodyHeight - (headerHeight + titleHeight + barHeight + 8);
		document.getElementById("contentContainer").style.height = desiredHeight.toString().concat("px");

		console.log("Desired contentContainer height is")
		console.log(desiredHeight)

		if (windowWidth > 992) {
			var leftColHeight = $("#leftCol").outerHeight(true);

			var saveMenuHeight = $("#editor_processSaveLoadDelete").outerHeight(true);
			var exportHeight = $("#editor_processExport").outerHeight(true);

			leftColHeight = desiredHeight

			var desiredHeight = leftColHeight - (saveMenuHeight + exportHeight + 35);
			document.getElementById("editor").style.height = desiredHeight.toString().concat("px");
			document.getElementById("editor").style.maxHeight = "100%";

		} else {
			document.getElementById("editor").style.height = "427px";
		}


		if (windowWidth > 992) {
			var rightColHeight = $("#rightCol").outerHeight(true);
			rightColHeight -= 1196;

			rightColHeight = desiredHeight

			var desiredHeight = rightColHeight + 103;
			document.getElementById("docs").style.height = desiredHeight.toString().concat("px");
			document.getElementById("docs").style.maxHeight = "100%";
		} else {
			document.getElementById("docs").style.height = "448px";
		}
	}

	setHeights();

	// Editor Config
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/github");
	editor.session.setMode("ace/mode/mes");
	editor.setValue(editor.getValue(), 1)
	editor.focus()

	// Snippet and KeyWord Management
	var snippetManager = ace.require("ace/snippets").snippetManager;
	var langTools = ace.require('ace/ext/language_tools');
	var resources = JSON.parse('{{ resourceList| safe }}');
	snippets = snippetManager.parseSnippetFile(snippetText); // SnippetText from mes-snippets.js imported above

	mesKeyWordCompleter = {
		getCompletions: function (editor, session, pos, prefix, callback) {
			completions = [];
			for (resource in resources) {
				meta = resources[resource]['type'];
				if (resources[resource]['location'] != null) {
					meta += ' - ' + resources[resource]['location'];
				}
				thisKeyword = {
					'value': resource,
					'meta': meta
				}
				completions.push(thisKeyword);
			};
			callback(null, completions);
		}

	}
	langTools.setCompleters([langTools.snippetCompleter, mesKeyWordCompleter, langTools.keyWordCompleter]);

	editor.setOptions({
		enableBasicAutocompletion: true,
		enableLiveAutocompletion: true,
		enableSnippets: true
	});
	snippetManager.register(snippets);

	// File Actions
	function backupSave() {
		var textToSave = editor.getValue();
		var textToSaveAsBlob = new Blob([textToSave], { type: "text/plain" });
		var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
		var fileNameToSaveAs = document.getElementById("backupFilename").value;

		var downloadLink = document.createElement("a");
		downloadLink.download = fileNameToSaveAs;
		downloadLink.innerHTML = "Download File";
		downloadLink.href = textToSaveAsURL;
		downloadLink.onclick = destroyClickedElement;
		downloadLink.style.display = "none";
		document.body.appendChild(downloadLink);

		downloadLink.click();
	}

	function destroyClickedElement(event) {
		document.body.removeChild(event.target);
	}

	function hideValue() {
		document.getElementById("editor_hiddenContent").value = editor.getValue();
		document.getElementById("editor_formContent").submit();
	}
	</script>

	<script src="static/paho-mqtt/mqttws31.js" type="text/javascript"></script>
	<script src="static/mqtt.js" type="text/javascript"></script>
{% endblock %}